body{
  background: rgb(245, 245, 245);
}

.card-list{
  column-count: 1;
  gap: 20px;
  column-fill: balance;
  
}
.card{
  margin-bottom: 20px;
  box-shadow: 0 0 0px 1px rgba(175, 175, 175, 0.21);
}


@media (min-width:1200px){
  .card-list{        
    column-count: 4;
    column-span: all;
  }
}

.search-form-container{
  max-width: 640px;
}